body {
  margin: 0;
  padding: 0;
  background-color: #f7f3f5;
  color: #00a380;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 3px solid #00a380;
}

nav ul li {
  list-style: none;
  font-size: 2rem;
  padding: 1rem;
}

#book-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#book-wrapper .book-container {
  background-color: #00a380;
  color: white;
  border-radius: 10px;
  max-width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  font-size: 1.5rem;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  -webkit-box-shadow: -3px 7px 19px -3px rgba(0, 0, 0, 0.97);
          box-shadow: -3px 7px 19px -3px rgba(0, 0, 0, 0.97);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#book-wrapper .book-container .remove-book-button {
  padding: 1rem;
  background-color: red;
  border-radius: 60px;
  margin-top: auto;
}

#book-wrapper .book-container .remove-book-button:hover {
  cursor: pointer;
  background-color: #f7f3f5;
  color: #020202;
}

#addbook-container {
  max-height: 70%;
  max-width: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/book-background.jpg");
  background-size: cover;
  text-align: center;
}

#addbook-container input {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  background-color: #020202aa;
  border: none;
  color: white;
}

#addbook-container input:focus {
  outline: none;
}

#addbook-container input::-webkit-input-placeholder {
  color: white;
}

#addbook-container input:-ms-input-placeholder {
  color: white;
}

#addbook-container input::-ms-input-placeholder {
  color: white;
}

#addbook-container input::placeholder {
  color: white;
}

#addbook-container #bottom-form {
  background-color: #020202aa;
  border-radius: 10px;
  padding: 2rem;
  color: white;
  font-size: 1.5rem;
}

#addbook-container #bottom-form button {
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 35px;
  border: none;
}

#addbook-container #bottom-form button:hover {
  cursor: pointer;
  background-color: #020202;
  color: white;
}

#addbook-container #bottom-form #checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}

#addbook-container #bottom-form #checkbox input {
  display: inline;
  margin: 0;
}

#addbook-container #bottom-form #checkbox label {
  display: inline;
}

#addbook-container #bottom-form input {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  background-color: #020202aa;
  border: none;
  color: white;
}

#addbook-container #bottom-form input:focus {
  outline: none;
}

#addbook-container #bottom-form input::-webkit-input-placeholder {
  color: white;
}

#addbook-container #bottom-form input:-ms-input-placeholder {
  color: white;
}

#addbook-container #bottom-form input::-ms-input-placeholder {
  color: white;
}

#addbook-container #bottom-form input::placeholder {
  color: white;
}

#plus-book {
  position: fixed;
  bottom: 0;
  right: 1rem;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 35px;
  border: none;
  background-color: #020202;
  color: #f7f3f5;
}

#plus-book:hover {
  cursor: pointer;
  background-color: #f7f3f5;
  color: #020202;
}

.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 60px;
  margin: 2rem auto;
}

.switch input {
  display: none;
}

.switch input:checked + .slider {
  background-color: #f7f3f5;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.switch .slider::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: 5px;
  bottom: 5px;
  background-color: #00a380;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}
/*# sourceMappingURL=style.css.map */