body {
    margin: 0;
    padding: 0;
    background-color: #f7f3f5;
    color: #00a380;
}
nav{
    ul{
        display: flex;
        justify-content: flex-start;
        border-bottom: 3px solid #00a380;
        li{
            list-style: none;
            font-size: 2rem;
            padding: 1rem;
        }
    }
}
#book-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .book-container {
        background-color: #00a380;
        color: white;
        border-radius: 10px;
        max-width: 50%;
        margin: 2rem auto;
        padding: 2rem;
        font-size: 1.5rem;
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        box-shadow: -3px 7px 19px -3px rgba(0,0,0,0.97);
        display: flex;
        flex-direction: column;
        .remove-book-button{
            padding: 1rem;
            background-color: red;
            border-radius: 60px;
            margin-top: auto;
            &:hover{
                cursor: pointer;
                background-color: #f7f3f5;
                color: #020202;
            }
        }
    }
}

#addbook-container{
    max-height: 70%;
    max-width: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    background: url("../img/book-background.jpg");
    background-size: cover;
    text-align: center;
    input{
        display: block;
        margin: 1rem;
        padding: 0.5rem;
        font-size: 2rem;
        background-color: #020202aa;
        border: none;
        color: white;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: white;
        }
    }
    #bottom-form{
        background-color: #020202aa;
        border-radius: 10px;
        padding: 2rem;
        color: white;
        font-size: 1.5rem;
        button{
            margin-top: 1rem;
            padding: 1rem 3rem;
            font-size: 2rem;
            border-radius: 35px;
            border: none;
            &:hover{
                cursor: pointer;
                background-color: #020202;
                color: white;
            }
        }
        #checkbox{
            display: flex;
            justify-content: center;
            gap: 5rem;
            input{
                display: inline;
                margin: 0;
            }
            label{
                display: inline;
            }
        }
        input{
            display: block;
            margin: 1rem;
            padding: 0.5rem;
            font-size: 2rem;
            background-color: #020202aa;
            border: none;
            color: white;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: white;
            }
        }
    }
}

#plus-book{
    position: fixed;
    bottom: 0;
    right: 1rem;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem;
    border-radius: 35px;
    border: none;
    background-color: #020202;
    color: #f7f3f5;
    &:hover{
        cursor: pointer;
        background-color: #f7f3f5;
        color: #020202;
    }
}

.switch{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 60px;
    margin: 2rem auto;
    input{
        display: none;
    }
    input:checked + .slider{
        background-color: #f7f3f5;
    }
    input:checked + .slider:before{
        transform: translateX(50px);
    }
    .slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        transition: .4s;
        border-radius: 34px;
        &::before{
            position: absolute;
            content: "";
            height: 50px;
            width: 50px;
            left: 5px;
            bottom: 5px;
            background-color: #00a380;
            transition: 0.4s;
            border-radius: 50px;
        }
    }
}

